@model IEnumerable<ELearn.Models.Module_Course>

<p>
    <a asp-action="CourseModCreate" asp-route-id="@ViewBag.course_id">>Add Module to Course</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.ModID == ViewBag.course_id)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                    <td>
                        <a asp-action="CourseModDelete" asp-route-id="@item.ID">Remove</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<p>
    <a asp-action="CourseIndex">Back</a>
</p>
