@model IEnumerable<ELearn.Models.Material>

@{
    ViewData["Title"] = "Material";
}

<h1>Material</h1>

<p>
    <a asp-action="MatCreate">Add new material</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Week)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        if (item.Active == true)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Week)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModCode)
            </td>
            <td>
                <a href=@Html.DisplayFor(modelItem => item.FileLink)>Click Here</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                <a asp-action="MatEdit" asp-route-id="@item.MatID">Edit</a> |
                <a asp-action="MatDelete" asp-route-id="@item.MatID">Delete</a>
            </td>
        </tr>
        }
}           
    </tbody>
</table>
