@model IEnumerable<ELearn.Models.Student_Module>

@{
    ViewData["Title"] = "Registered Modules";
}

<form asp-action="RegistedModuleIndex" method="get">
    <div class="form-actions no-color">
        <p>
            <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Dashboard", "Student")'">Back</button>
            Find by Student ID: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-secondary" />
        </p>
    </div>
</form>

<p>
    <a asp-action="ModuleIndex">Register for a module</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ModID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Completed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ModID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Completed)
            </td>
            <td>
                <a asp-action="ModuleDetails" asp-route-id="@item.ID">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
